/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

/* ==========================================================================
Helper classes
========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
	 Typography
	 ========================================================================== */
@font-face {
  font-family: "shneleicht";
  src: url("../fonts/sohne-leicht-webfont.woff2") format("woff2"), url("../fonts/sohne-leicht-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shnehalbfett";
  src: url("../fonts/sohne-halbfett-webfont.woff2") format("woff2"), url("../fonts/sohne-halbfett-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "butler_stencilextrabold";
  src: url("../fonts/butlerstencil-extrabold-webfont.woff2") format("woff2"), url("../fonts/butlerstencil-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "shneleicht";
  background-color: #000;
  color: #fff;
  font-size: 1em; /* 16px */
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "shneleicht";
  font-size: 1.2rem;
  margin-bottom: 2em;
}

h1 {
  font-family: "butler_stencilextrabold";
  font-size: 2.1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.6em;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.1rem;
  }
}

h2 {
  font-family: "butler_stencilextrabold";
  font-size: 2.1rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0.6em;
}
@media (min-width: 768px) {
  h2 {
    font-size: 3.1rem;
  }
}

h3 {
  font-family: "butler_stencilextrabold";
  font-size: 2.1rem;
  line-height: 1;
  margin-top: 0.8em;
  margin-bottom: 0.6em;
}
@media (min-width: 768px) {
  h3 {
    font-size: 5rem;
  }
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* General */
.page {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
}

.container__column {
  width: 859px;
  max-width: 100%;
  padding: 3rem 1.5rem;
}

.container__group {
  position: relative;
  margin: 5.5vw 0 11.5vw;
}

.button {
  font-family: "shnehalbfett";
  font-size: 0.9rem;
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  height: 40px;
  padding: 0 1.2rem 0 1.4rem;
  border: solid 2px #fff;
  outline: 0;
  background-color: #fff;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.button:hover {
  background-color: #000;
  color: #fff;
}

.button__download {
  width: 30px;
  fill: #000;
  margin-top: 4px;
  margin-left: 4px;
  transition: fill 0.2s ease-in-out;
}

.button:hover .button__download {
  fill: #fff;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem 1.5rem;
}

.header__federation {
  width: 32vw;
  max-width: 172px;
}
@media (min-width: 768px) {
  .header__federation {
    width: 172px;
  }
}

.header__manawa-bay {
  width: 38vw;
  max-width: 206px;
  margin-top: -3px;
}
@media (min-width: 768px) {
  .header__manawa-bay {
    margin-top: -3px;
    width: 206px;
  }
}

/* Video */
.video {
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.video__video {
  position: relative;
  visibility: hidden;
  width: 100.5%;
  left: -0.25%;
}

.video__video.video__video--is-playing {
  visibility: visible;
}

.video--expanded {
  z-index: 1;
}
@media (min-width: 768px) {
  .video--expanded {
    width: 100vw;
  }
}
@media (min-width: 992px) {
  .video--expanded {
    width: 80vw;
  }
}
@media (min-width: 1200px) {
  .video--expanded {
    width: 80vw;
  }
}
@media (min-width: 1400px) {
  .video--expanded {
    width: 70vw;
  }
}

.video--expanded .video__poster-img {
  visibility: hidden;
}

.video__overlay {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.video__overlay.video__overlay--is-playing {
  opacity: 0;
}

.video__poster-img {
  width: 101%;
  top: -0.5%;
  left: -0.5%;
  right: -0.5%;
  bottom: -0.5%;
  position: absolute;
  z-index: -1;
}

.video__play {
  font-family: "shnehalbfett";
  font-size: 0.9rem;
  pointer-events: all;
  display: inline-flex;
  align-items: center;
  border-radius: 40px;
  height: 40px;
  padding: 0 1.4rem 0;
  border: solid 2px #fff;
  outline: 0;
  background: #fff;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.video__play:hover {
  background-color: #000;
  color: #fff;
}

.video__arrow {
  width: 10px;
  margin-left: 8px;
  margin-top: -1px;
}

.video__arrow path {
  fill: #000;
  transition: fill 0.2s ease-in-out;
}

.video__play:hover .video__arrow path {
  fill: #fff;
}

.video__close {
  display: none;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 0;
  outline: 0;
}
@media (min-width: 768px) {
  .video__close {
    display: block;
  }
}

.video__close.video__close--is-visible {
  pointer-events: all;
  opacity: 1;
}

.video__close-icon {
  width: 17px;
  transform: rotate(45deg);
}

.video--landing.video--expanded {
  width: 100%;
}

.video--landing .video__play {
  margin-top: 17%;
}
@media (min-width: 576px) {
  .video--landing .video__play {
    margin-top: 13%;
  }
}
@media (min-width: 768px) {
  .video--landing .video__play {
    margin-top: 10%;
  }
}
@media (min-width: 992px) {
  .video--landing .video__play {
    margin-top: 5%;
  }
}

/* Footer */
.footer__pattern {
  width: 109vw;
  margin: 0 -2.5%;
}

.footer__pattern--right {
  position: absolute;
  left: 53%;
  bottom: -4.5vw;
}

.footer__pattern--left {
  position: absolute;
  right: 53%;
  bottom: -4.5vw;
}

/*# sourceMappingURL=style.css.map */
